
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6
{
    height: 100%;
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    text-align: center;
    background:transparent
}

    /* freezing fullscreen background image */
.parallax {
    /* The image used */
    background-image: url('../images/lunar.jpg');
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    /* secondary popup over background */
.parallax-second {
    height:100%;
    background-color:rgb(255, 255, 255);
    font-size:36px
}

    /* typewriter text */
.typer {
    font-size: 40px;
    /* position: absolute; */
    top: 5%;
    left: 50%;
    color: rgba(255, 255, 255, 0.801);
    text-align: center;
    font-family: 'Space Mono', monospace;
    text-decoration: none;
}

    /* author name text */
.name {
    position: absolute;
    font-size: 80px;
    top: 65%;
    left: 50%;
    margin-top: -50px;
    margin-left: -230px;
    color: rgba(255, 255, 255, 0.815);
    font-family: 'Josefin Sans', sans-serif;
}

    /* author title and company */
.name-title {
    position: absolute;
    font-size: 40px;
    top: 65%;
    left: 50%;
    margin-top: 40px;
    margin-left: -220px; 
    font-family: 'Space Mono', monospace;
}

.bounce {
    position:fixed;
    left:50%;
    bottom:0;
    margin-top:-25px;
    margin-left:-25px;
    height:50px;
    width:50px;
  background: url('https://static1.squarespace.com/static/5e78f290575a6321739eba41/t/5ec8625c6dad0e25fa5a8234/1590190684880/Arrow.png');
    background-size: 100% auto;
    -webkit-animation:bounce 1s infinite;
    -moz-animation:bounce 1s infinite;
    -o-animation:bounce 1s infinite;
    animation:bounce 1s infinite;
  
  }

  @media only screen and (max-width: 1023px) {
    .bounce {
      display: none;
    }
  }
  
  @-webkit-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }
  
   @-moz-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }
  
   @-o-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }
  
   @keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }